@font-face {
    font-family: Commissioner;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Commissioner"), local(Commissioner-Regular), url(assets/fonts/Commissioner-Regular) format("ttf");
}

@font-face {
    font-family: Commissioner;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Commissioner Medium"), local(Commissioner-Medium), url(assets/fonts/Commissioner-Medium) format("ttf");
}

@font-face {
    font-family: Commissioner;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Commissioner Bold"), local(Commissioner-Bold), url(assets/fonts/Commissioner-Bold) format("ttf");
}

body {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container-xl {
    max-width: 1140px;
}

.icon {
    width: 24px;
    height: 24px;
    /* background-position: center;
    background-repeat: no-repeat; */
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: #666666;
}
.search-icon {
    /* background-image: url(/assets/images/icons/search.svg); */
    -webkit-mask-image: url(/assets/images/icons/search.svg);
    mask-image: url(/assets/images/icons/search.svg);
}
.shot-icon {
    /* background-image: url(/assets/images/icons/shot.svg); */
    -webkit-mask-image: url(/assets/images/icons/shot.svg);
    mask-image: url(/assets/images/icons/shot.svg);
}
.smile-icon {
    /* background-image: url(/assets/images/icons/emoji-smile.svg); */
    -webkit-mask-image: url(/assets/images/icons/emoji-smile.svg);
    mask-image: url(/assets/images/icons/emoji-smile.svg);
}
.clock-icon {
    /* background-image: url(/assets/images/icons/clock-circle.svg); */
    -webkit-mask-image: url(/assets/images/icons/clock-circle.svg);
    mask-image: url(/assets/images/icons/clock-circle.svg);
}
.garbadge-icon {
    /* background-image: url(/assets/images/icons/garbage.svg); */
    -webkit-mask-image: url(/assets/images/icons/garbage.svg);
    mask-image: url(/assets/images/icons/garbage.svg);
}


.header {
    min-height: 72px;
    border: 1px solid #EBEBEB;
}

.header .container-xl .row .navbar {
    height: 72px;
    justify-content: stretch;
}

.header .container-xl .row .navbar .nav-link {
    height: 72px;
}

.header .container-xl .row .navbar .nav-link.active {
    color: #292929;
    border-bottom-color: #ED7135;
}

.header .container-xl .row .search-form {
    position: relative;
}

.header .container-xl .row .search-form .form-control {
    background: #eee;
    border-radius: 100px;
}

.header .container-xl .row .search-form #search-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 36px;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.header .container-xl .row .search-form #search-input {
    padding: 44px;
}

.header .container-xl .row .buttons-group .signin-btn {
    width: 48px;
}

.main .container-xl .row .aside .btn {
    border-radius: 8px;
}
.main .container-xl .row .aside .btn-outline-secondary.active,
.main .container-xl .row .aside .btn-outline-secondary:hover {
    background: #ED7135;
}

.main .container-xl .row .aside .btn-outline-secondary:hover .icon,
.main .container-xl .row .aside .btn-outline-secondary.active .icon {
    background-color: #fff;
}

.main .container-xl .row .content .content-header .btn {
    width: 88px;
}