@font-face {
    font-family: Commissioner;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Commissioner"), local(Commissioner-Regular), url(assets/fonts/Commissioner-Regular) format("ttf");
}

@font-face {
    font-family: Commissioner;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local("Commissioner Medium"), local(Commissioner-Medium), url(assets/fonts/Commissioner-Medium) format("ttf");
}

@font-face {
    font-family: Commissioner;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Commissioner Bold"), local(Commissioner-Bold), url(assets/fonts/Commissioner-Bold) format("ttf");
}

body {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
